{%extends 'base.html'%}
{%load static%}

{% block css%} 
  <link rel="stylesheet" href="{%static 'posts/home.css'%}">
{% endblock css%} 

{% block title%} 
Display post list
{% endblock title%} 

{% block body%} 
    <p1>Using IfElse</p1>
    {%if list%}
      <h1>Post list:</h1>
        {% for post in list%}
        <a href="{%url 'post' post.id %}"><h1>{{post.id}} -- {{post.title}}</h1></a>
        <h3>{{post.description|truncatewords:1}}</h3>
        {%empty%}
          <h1>NoPostsAvailable</h1>
        {%endfor%}
      {%else%}
      <h1>No posts available</h1>
    {%endif%}

    <p1>Using empty</p1>
    {% for post in list%}
    <a href="/post/{{post.id}}/"><h1>{{post.id}} -- {{post.title}}</h1></a>
    <h3>{{post.description}}</h3>
    {%empty%}
      <h1>NoPostsAvailable</h1>
    {%endfor%}

{% endblock body%}